*.iml
/out/
.idea
/Advanced Java/Currency Converter/nbproject/private/
/Advanced Java/Currency Converter/build/
/Advanced Java/Simple JSF Login/nbproject/private/
/Advanced Java/Simple JSF Login/build/